body {
  font-family: Helvetica Neue,Arial,sans-serif;
  line-height: 1.6rem;
  word-spacing: .05rem;
}

h2 {
  border-bottom: none;
}

.theme-default-content code {
  color: #e96900;
  margin: 0 2px;
  padding: 3px 5px;
}